form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
#button a:hover { background-color:#fff }
em { font-style:italic }
h1 { font-weight:bold; font-size:18px }
h1:first-child { margin-top:0px }
h2 { font-weight:bold; font-size:16px }
h2:first-child { margin-top:0px }
h3 { font-weight:bold; font-size:14px }
h3:first-child { margin-top:0px }
strong { font-weight:bold }
.menu { font-family:Arial,Helvetica,sans-serif; font-size:18px; text-transform:capitalize; letter-spacing:0.36px }
.cover { background-size:cover }
.button { color:#6c6c6c; font-family:Arial,Helvetica,sans-serif; font-weight:bold; font-size:20px; text-align:center; border-radius:4px; border:3px solid grey }
